<html>
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	 <script src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
	<body>
	<table border=1 id="myTable" class="tablesorter">
		<thead>
		<tr>
		<th><b>Date</b></th>
		<th><b>Line</b></th>
		<th><b>Ship</b></th>
		<th><b>Port</b></th>
		<th><b>Days</b></th>
		<th><b>Price</b></th>
		<th><b>SFO flight </b></th>
		<th><b>YXE Flight</b></th>
		<th><b>day1</b></th>
		<th><b>day2</b></th>
		<th><b>day3</b></th>
		<th><b>day4</b></th>
		<th><b>day5</b></th>
		<th><b>day6</b></th>
		<th><b>day7</b></th>
		<th><b>day8</b></th>
		<th><b>day9</b></th>
		<th><b>day10</b></th>
		<th><b>day11</b></th>
		<th><b>day12</b></th>
		<th><b>day13</b></th>
		<th><b>day14</b></th>
		<th><b>day15</b></th>
		</thead>
		</tr>
		<tbody>
		{% for cruise in curises %}
		<tr>
		<td><a href="{{cruise.url}}">{{cruise.date}}</a></td>
		<td>{{cruise.line}}</td>
		<td>{{cruise.ship}}</td>
		<td>{{cruise.depart}}</td>
		<td>{{cruise.nights}}</td>
		<td>{{cruise.price}}</td>
		<td>{{cruise.cal}}</td>
		<td>{{cruise.can}}</td>
		<td>{{cruise.day1}}</td>
		<td>{{cruise.day2}}</td>
		<td>{{cruise.day3}}</td>
		<td>{{cruise.day4}}</td>
		<td>{{cruise.day5}}</td>
		<td>{{cruise.day6}}</td>
		<td>{{cruise.day7}}</td>
		<td>{{cruise.day8}}</td>
		<td>{{cruise.day9}}</td>
		<td>{{cruise.day10}}</td>
		<td>{{cruise.day11}}</td>
		<td>{{cruise.day12}}</td>
		<td>{{cruise.day13}}</td>
		<td>{{cruise.day14}}</td>
		<td>{{cruise.day15}}</td>
		</tr>
		{% endfor %}
		</tbody>
		<script>
		$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
); 
</script>
	</body>
</html>