<html>
	<body>
	<table>
		<tr>
		<td><b>Date</b></td>
		<td><b>Line</b></td>
		<td><b>Ship</b></td>
		<td><b>Port</b></td>
		<td><b>Days</b></td>
		<td><b>Price</b></td>
		<td><b>SFO flight </b><td>
		<td><b>YXE Flight</b><td>
		</tr>
		{% for cruise in curises %}
		<tr>
		<td>{{cruise.date}}</td>
		<td>{{cruise.line}}</td>
		<td>{{cruise.ship}}</td>
		<td>{{cruise.depart}}</td>
		<td>{{cruise.nights}}</td>
		<td>{{cruise.price}}</td>
		<td>{{cruise.cal}}</td>
		<td>{{cruise.can}}</td>
		</tr>
		{% endfor %}
	</body>
</html>